home/.vim/bundle/
home/.vim/autoload/plug.vim
home/.vim/sessions/
home/.ssh/*
!home/.ssh/config
home/.config/*
!home/.config/beets
home/.config/beets/state.pickle
home/.config/beets/discogs_token.json
!home/.config/ipython/**/*
!home/.config/flake8
home/.bin/vim
home/.mpd/*
!home/.mpd/mpd.conf
home/.tmux/plugins
home/.tmux/resurrect
