[submodule "dot_tmux/plugins/tmux-sensible"]
	path = dot_tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "dot_tmux/plugins/tpm"]
	path = dot_tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "dot_tmux/plugins/extrakto"]
	path = dot_tmux/plugins/extrakto
	url = https://github.com/laktak/extrakto.git
[submodule "dot_tmux/plugins/tmux-pain-control"]
	path = dot_tmux/plugins/tmux-pain-control
	url = https://github.com/tmux-plugins/tmux-pain-control.git
[submodule "dot_tmux/plugins/tmux-resurrect"]
	path = dot_tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "dot_tmux/plugins/tmux-better-mouse-mode"]
	path = dot_tmux/plugins/tmux-better-mouse-mode
	url = https://github.com/NHDaly/tmux-better-mouse-mode.git
[submodule "dot_tmux/plugins/vim-tmux-navigator"]
	path = dot_tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "dot_tmux/plugins/tmux-yank"]
	path = dot_tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule "dot_zsh/plugins/zsh-autoenv"]
	path = dot_zsh/plugins/zsh-autoenv
	url = https://github.com/Tarrasch/zsh-autoenv.git
[submodule "dot_zsh/plugins/zsh-autosuggestions"]
	path = dot_zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "dot_zsh/plugins/zsh-completions"]
	path = dot_zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "dot_zsh/plugins/base16-shell"]
	path = dot_zsh/plugins/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "dot_zsh/plugins/spaceship-prompt"]
	path = dot_zsh/plugins/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
[submodule "dot_zsh/plugins/zsh-vim-mode"]
	path = dot_zsh/plugins/zsh-vim-mode
	url = https://github.com/sharat87/zsh-vim-mode.git
[submodule "dot_zsh/plugins/enhancd"]
	path = dot_zsh/plugins/enhancd
	url = https://github.com/b4b4r07/enhancd.git
[submodule "dot_zsh/plugins/zsh-syntax-highlighting"]
	path = dot_zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "dot_zsh/plugins/zsh-history-substring-search"]
	path = dot_zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "dot_zsh/plugins/fzf"]
	path = dot_zsh/plugins/fzf
	url = https://github.com/junegunn/fzf.git
