{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
sudo apt update
if [[ ! -x `which rg` ]]; then
  curl -LO https://github.com/BurntSushi/ripgrep/releases/download/11.0.2/ripgrep_11.0.2_amd64.deb
  sudo dpkg -i ripgrep_11.0.2_amd64.deb
fi
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
if [[ ! -x `which brew` ]]; then
  ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
fi
brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/cask"
tap "neovim/neovim"
tap "homebrew/cask-fonts"
tap "Goles/battery"

brew "git"
brew "git"
brew "node"
brew "python"
brew "tmux"
brew "tree"
brew "zsh"
brew "fasd"
brew "mpd"
brew "mpc"
brew "ncmpcpp"
brew "fzf"
brew "gawk"
brew "neovim"
brew "ansiweather"
brew "exif"
brew "mackup"
brew "ripgrep"
brew "reattach-to-user-namespace"
brew "mas"
brew "urlview"
brew "ranger"
brew "ruby-install"
brew "chruby"
brew "hub"
brew "mosh"
brew "tinc"
brew "battery"
brew "go"
brew "github/gh/gh"
brew "telnet"

cask "hammerspoon"
cask "dash"
cask "alfred"
cask "iterm2"
cask "syncthing"
cask "homebrew/cask-fonts/font-hack"
cask "tailscale"
cask "roon"

mas "1Password for Safari", id: 1569813296
mas "DaisyDisk", id: 411643860
mas "Drafts", id: 1435957248
mas "Marked 2", id: 890031187
mas "Soulver 2", id: 413965349
mas "Tweetbot", id: 557168941
EOF

{{ end -}}
