# vim-snipmate snippet for our comment style.
# Copy this into ~/.vim/snippets/
#
# Download and install snipmate here: https://github.com/garbas/vim-snipmate
snippet /*
	/*============================================================================
	  ${1}
	==============================================================================*/
snippet /*=
	/*================ ${1} ================*/
